body {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.container__cv {
  width: 900px;
  height: 100vh;
  background-color: rgb(223, 215, 215);
  padding: 0 60px;  
}

header {
  margin: 50px 0;
}

.general-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
 .general-info__contacts {
   
  
 }

 .contact__item {
   margin: 5px;
 }

 .contact__item span {
  font-weight: 700;

 }

 .general-info__photo {
   width: 145px;
   height: 180px;
   
 }

.container__photo {
  width: 100%;
  height: 100%;
  background: url(./assets/images/photo.png) no-repeat;
  background-size: 100%;
}

